/**
HTML overrides
**/
body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h2{
    padding-top: 1em;
}

/**
Bootstrap overrides
**/

/**
CUSTOM CLASSES
**/
.btn-magenta{
    color: white;
    background-color: #872077;
    border-color: #872077;
}

.btn-outline-magenta{
    color: #872077;
    border-color: #872077;
}

.btn-outline-magenta:hover, .btn-magenta:hover{
    color: white;
    background-color: #631958;
    border-color: #631958;
}

.cursive{
    font-family: 'Indie Flower', cursive;
}

.desc{
    font-family: 'Indie Flower', cursive;
}

/**
CUSTOM ID's
**/
#accountPanel{
    position: absolute;
}

#points, #username{
    font-size: 120%;
}

#mainHolder{
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
}